<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <div class="containe">
    <div>
      <img src="https://fontmeme.com/permalink/191118/c32394ef3c2be517f828476ed49e14a8.png" alt="netflix-font" border="0">
      <button class="btn btn-danger red" [routerLink] = "['/browse']">Sign in</button>
    </div>
  
    <div class="content">
      <h1>All Of Chillflix</h1>
      <h1>Free for Life</h1>
      <button class="btn btn-danger stream" [routerLink] = "['/browse']">Start Streaming</button>
    </div>
  </div>